.jumbotron
  %h1 Welcome to note
  = link_to 'Yeni yazi', new_post_path,  class: 'btn btn-large btn-success' , method: :get
  = link_to 'Yazilarin', posts_path,  class: 'btn btn-large btn-success' , method: :get
